<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#" >About Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<div class="container">
  <h1>Career Quiz</h1>
  <br>
  <div class="card">
    <div class="card-header" *ngFor="let question of data.Question_list">
      <h4> #Q {{question.Question_text}}</h4>
      <hr>
      <div class="card-body" *ngFor="let answer of question.Question">
        <input type="checkbox" name="{{answer.Answer_text}}" id="{{answer.Answer_text}}"> {{answer.Answer_text}}
      </div>
    </div>
      
  </div>
</div>
  
<div id ='footer'>Here goes the footer</div>

<router-outlet></router-outlet>
